<h1>Assemble yer Fleet!</h1>

<form action="/pirates" method="POST">
  <label for="pirate_name">Name</label>
  <input type="text" id="pirate_name" name="pirate[name]"/>

  <label for="pirate_height">Height</label>
  <input type="text" id="pirate_height" name="pirate[height]"/>

  <label for="pirate_weight">Weight</label>
  <input type="text" id="pirate_weight" name="pirate[weight]"/>

  <label for="ship_name_1">Ship No. 1 Name</label>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]"/>

  <label for="ship_name_1">Ship No. 1 Category</label>
  <input type="text" id="ship_category_1" name="pirate[ships][][category]"/>

  <label for="ship_name_1">Ship No. 1 Booty</label>
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"/>


  <input type="submit" value="Submit"/>
</form>

<%
=begin %>
<form action="/pirates" method="POST">

  <label for="pirate[name]">Pirate Name:</label>
  <p><input type="text" name="pirate[name]" id="pirate[name]"/></p>

  <label for="pirate[weight]">Pirate Weight:</label>
  <p><input type="text" name="pirate[weight]" id="pirate[weight]"/></p>

  <label for="pirate[height]">Pirate Height:</label>
  <p><input type="text" name="pirate[height]" id="pirate[height]"/></p>

  <label for="pirate[ships][][name]">Ship Name:</label>
  <p><input type="text" name="pirate[ships][][name]" id="ship_name_1"/></p>

  <label for="pirate[ships][][type]">Ship Type:</label>
  <p><input type="text" name="pirate[ships][][type]" id="ship_type_1"/></p>

  <label for="pirate[ships][][booty]">Ship Booty:</label>
  <p><input type="text" name="pirate[ships][][booty]" id="ship_booty_1"/></p>

  <label for="pirate[ships][][name]">Ship Name:</label>
  <p><input type="text" name="pirate[ships][][name]" id="ship_name_2"/></p>

  <label for="pirate[ships][][type]">Ship Type:</label>
  <p><input type="text" name="pirate[ships][][type]" id="ship_type_2"/></p>

  <label for="pirate[ships][][booty]">Ship Booty:</label>
  <p><input type="text" name="pirate[ships][][booty]" id="ship_booty_2"/></p>

  <input type="submit" value="Submit"/>
</form> -->
<%
=end %>
